
*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.active {
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;

}
 /* navbar */
 .navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100px;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
 }
 .nav-links {
    display: flex;
    align-items: center;
 }
 .nav-links li {
margin: 0 30px;
 }
header{
    width: 100vw;
    height: 100vh;
    background-image:url(https://images.unsplash.com/photo-1678115039222-662c78072a6b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60);
    background-position: bottom;
    background-size: cover;
    display:flex;
    align-items: flex-end;
    justify-content: center;

}
.header-content{
    margin-bottom: 150px;
    color:whitesmoke;
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
}
.line{
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 1px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn{
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color:whitesmoke;
}
.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
   /* mobile device */
 @media only screen and (max-width:850px){
 .menu-btn{
    display: block;
 }
 .navbar {
    padding: 0;
 }
 .logo {
    position: absolute;
    top: 30px;
     left: 30px;
}
.nav-links {
    flex-direction: column;
    width: 100px;
    height: 100px;
    justify-content: center;
    background-color: blue;
    margin-top: -900px;
    transition: all 0,5s ease;
}
.mobile-menu {
    margin-top: 0px;
    border-bottom-right-radius: 30%;

}
.nav-links li {
    margin: 30px auto;
    }
}
.second{
    
}

